.car_m{
    .car_div{
        height:150px;
        padding-top:300px;
        background:url("../img/gwc_kong.png") no-repeat center 111px;
        p{
            text-align:center;
            margin-top:20px;
            a{
                color:blue;
                margin:0 8px;
            }
        }
    }
}