.list_m{
    margin:15px auto;
    .list_m_1{
        width:957px;
        // min-height:1000px;
        >h3{
            font-size:14px;
            color:#666;
            margin-bottom:7px;
        }
        .list_m_1_div{
            border:1px solid #ccc;
            margin-bottom:19px;
            dl{
                position:relative;
                margin:0;
                &:first-child{
                    border-bottom:1px dashed #666;
                }
                dt{
                    float:left;
                    width:90px;
                    height:100%;
                    line-height:58px;
                    background:#ccc;
                    text-align:center;
                }
                dd{
                    // float:left;
                    margin-left:90px;
                    width:850px;
                    height:58px;
                    overflow:hidden;
                    a{
                        margin:18px 35px 18px 0 ;
                        float:left;
                        font-size:12px;
                        line-height:22px;
                        color:#666;
                        padding:0 6px;
                    }
                }
                span{
                    position:absolute;
                    right:16px;
                    bottom:20px;
                    font-size:12px;
                    cursor:pointer;
                }
            }
        }
        .list_m_1_ul{
            width:957px; 
            height:45px;
            border:1px solid #ccc;
            margin-bottom:30px;
            background:#f1f1f1;
            li{
                float:left;
                line-height:45px;
                width:88px;
                text-align:center;
                font-size:12px;
                cursor:pointer;
                i{
                    color:#666;
                    font-size:12px;
                    font-weight:bold;
                    margin-left:5px;
                }
                &:last-child{
                    width:245px;
                    background:white;
                }
                &.list_m_1_active{
                    background:white;
                }
                input{
                    width:32px;
                    height:22px;
                    padding:0 8px;
                    outline:0;
                }
                button{
                    background:#dc0f50;
                    width:50px;
                    height:23px;
                    outline:0;
                    border:0;
                    margin:10px 0 0 15px;
                    cursor:pointer;
                }
            }
        }
        .list_m_1_list{
            li{
                float:left;
                width:214px;
                height:310px;
                margin-bottom:30px;
                padding:0 10px;
                cursor:pointer;
                &:hover{
                    h4{
                        color:red;
                    }
                }
                img{
                    width:212px;
                    height:212px;
                }
                h4{
                    font-size:14px;
                    height:50px;
                    line-height:25px;
                    overflow:hidden;
                    white-space:wrap;
                    text-overflow:ellipsis;
                    margin:0 5px;
                }
                p{
                    color:red;
                    font-size:20px;
                }
                del{
                    float:right;
                    color:#666;
                    font-size:14px;
                }
                .list_m_1_p{
                    margin-top:26px;
                    color:#666;
                    font-size:14px;
                }
            }
        }

    }
    .list_m_2{
        // min-height:1000px;
        width:233px;
        ul{
            li{
                width:136px;
                height:80px;
                padding:10px 0;
                padding-left:97px;
                position:relative;
                border-bottom:1px solid #e5e5e5;
                cursor:pointer;
                &:hover{
                    h4{
                        color:red;
                    }
                }
                img{
                    position:absolute;
                    left:0;
                    top:10px;
                    width:80px;

                }
                h4{
                    color:#333;
                    height:54px;
                    overflow:hidden;
                    font-size:13px;
                }

                
                p{
                    color:red;
                    font-size:20px;
                    >span{
                        position:absolute;
                        left:0;
                        top:10px;
                        display:inline-block;
                        width:25px;
                        height:25px;
                        color:white;
                        font-size:12px;
                        padding-left:5px;
                        background:url("../img/biao_bg.png") no-repeat 0 0;
                    }
                    .i2{
                        background:url("../img/biao_bg.png") no-repeat 0 -26px;
                    }
                    .i3{
                        background:url("../img/biao_bg.png") no-repeat 0 -52px;
                    }
                }
            }
        }
    }
    .list_m_3{
        width:1200px;
        height:362px;
        div{
            &:first-child{
                height:32px;
                border-bottom:1px solid #ccc;
                margin-bottom:30px;
            }
            h3{
                float:left;
                font-size:24px;
                background:#fff;
                line-height:34px;
            }
            &:last-child{
                height:300px;
                width:1200px;
                overflow:hidden;
                position:relative;
                ul{
                    height:300px;
                    width:3495px;
                    padding-left:25px;
                    position:absolute;
                    li{
                        float:left;
                        width:200px;
                        height:277px;
                        margin:0 22px 0 11px;
                        cursor:pointer;
                        &:hover{
                            h4{
                                color:red;
                            }
                        }
                        img{
                            width:200px;
                            height:200px;
                        }
                        h4{
                            font-size:14px;
                            height:50px;
                            line-height:25px;
                            overflow:hidden;
                            white-space:wrap;
                            text-overflow:ellipsis;
                            margin:0 5px;
                        }
                        p{
                            color:red;
                            font-size:20px;
                        }
                        del{
                            float:right;
                            color:#666;
                            font-size:14px;
                        }
                        .list_m_1_p{
                            margin-top:26px;
                            color:#666;
                            font-size:14px;
                        }
                    }
                }
                span{
                    position:absolute;
                    top:125px;
                    display:inline-block;
                    width:30px;
                    height:50px;
                    line-height:50px;
                    text-align:center;
                    color:white;
                    background:#58bc58;
                    opacity:0.3;
                    &:hover{
                        opacity:0.5;
                        cursor:pointer;
                    }
                }
                .list_m_3prev{
                    left:0;
                }
                .list_m_3next{
                    right:0;
                }
            }

        }
    }
}